:javascript
  function openModal() {
    alert('eli is a wierdo')
  }

  function closeModal() {

  }


!= partial :header, { :active => 'paintings' }

%div{ :class => "container" }
  %div{ :class => "row" }
    %div{ :class => "col-md-6" }
      - for i in 0..@assets.size/2
        - unless @assets[i*2].nil?
          != partial :asset_thumbnail, :asset => @assets[i*2]
    %div{ :class => "col-md-6" }
      - for i in 0..@assets.size/2
        - unless @assets[i*2+1].nil?
          != partial :asset_thumbnail, :asset => @assets[i*2+1]

%div{ :id => "lightbox", :class => "modal" }
  %span{ :class => "close cursor", :onclick => "closeModal()" }h= &times;
  %div{ :class => "modal-content" }
    - for i in 0..@assets.size-1
      != partial :asset, :asset => @assets[i]
    
!= partial :footer